## Кодировка документов
AddDefaultCharset utf-8
#AddDefaultCharset koi8-u
#AddDefaultCharset windows-1251

# supress php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off
php_value docref_root 0
php_value docref_ext 0




RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(config|core|css|js|fonts|robots\.txt)

RewriteRule ^(.+)$ index.php/$1 [L]
